// URL: https://fg96-2ch-doc.readthedocs.io/

#include <dt-bindings/media/camera.h>

#define CAM0_PWDN   TEGRA234_MAIN_GPIO(H, 6)
#define CAM1_PWDN   TEGRA234_MAIN_GPIO(AC, 0)
#define CAM_I2C_MUX TEGRA234_AON_GPIO(CC, 3)

// d4m addr 0x001cclss
// cc: max9296 index.  [0-3] for fg96
// l : a/b link index. [0-1] for a/b
// ss: stream index.   [0-3] for stream. 0: depth 1: color 2: ir 3: imu
// 4x max9296 - 4x d457
// [0x20-0x23][0x28-0x2b][0x30-0x33][0x38-0x3b]
// 4x max9296 - 8x d457
// [0x20-0x23][0x24-0x27]
// [0x28-0x2b][0x2c-0x2f]
// [0x30-0x33][0x34-0x37]
// [0x38-0x3b][0x3c-0x3f]

/ {
	// gpio@2200000 {
	// 	camera-control-output-low {
	// 		gpio-hog;
	// 		output-low;
	// 		gpios = <CAM0_PWDN 0 CAM1_PWDN 0>;
	// 		label = "cam0-pwdn","cam1-pwdn";
	// 	};
	// };

	cam_i2cmux {
		status = "okay";
		compatible = "i2c-mux-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		i2c-parent = <&cam_i2c>;
		mux-gpios = <&tegra_aon_gpio CAM_I2C_MUX GPIO_ACTIVE_HIGH>;
		clock-frequency = <100000>;

		i2c@0 {
			status = "okay";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			/* MAX9296 I2C2_0x48 - CSI0/1 */
			dser0: max9296@48 {
				status = "okay";
				reg = <0x48>;
				compatible = "maxim,max9296";
				csi-mode = "2x4";
				max-src = <2>;
				is-fg96-2ch;
			};
			ser0_prim: max9295_prim@40 {
				reg = <0x40>;
				compatible = "maxim,max9295";
				#address-cells = <1>;
				#size-cells = <0>;
				is-prim-ser;
				ser-mux = <0>;
			};
			ser0_a: max9295_a@42 {
				reg = <0x42>;
				compatible = "maxim,max9295";
				maxim,gmsl-dser-device = <&dser0>;
			};
			ser0_b: max9295_b@60 {
				reg = <0x60>;
				compatible = "maxim,max9295";
				maxim,gmsl-dser-device = <&dser0>;
			};
			d4m0: d4m@20 {
				status = "okay";
				reg = <0x20>;
				def-addr = <0x10>;
				compatible = "intel,d4xx";
				cam-type = "Depth";
				maxim,gmsl-ser-device = <&ser0_a>;
				maxim,gmsl-dser-device = <&dser0>;
				intel,d4m-mux-device = <&d4m1>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						d4m0_out: endpoint {
							port-index = <0>;
							bus-width = <2>;
							vc-id = <0>;
							remote-endpoint = <&csi_in0>;
						};
					};
				};
				mode0 {
					pixel_t = "grey_y16";
					num_lanes = "2";
					csi_pixel_bit_depth = "16";
					active_w = "1280";
					active_h = "720";
					tegra_sinterface = "serial_a";
					mclk_khz = "24000";
					pix_clk_hz = "74250000";
					line_length = "1280"; /* 2200 */
					embedded_metadata_height = "1";
				};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "a";
					serdes-csi-link = "a";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <0>;
					num-lanes = <2>;
					ser-mux = <0>;
				};
			};
			d4m1: d4m@21 {
				status = "okay";
				reg = <0x21>;
				def-addr = <0x10>;
				compatible = "intel,d4xx";
				cam-type = "RGB";
				maxim,gmsl-ser-device = <&ser0_a>;
				maxim,gmsl-dser-device = <&dser0>;
				intel,d4m-mux-device = <&d4m1>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						d4m1_out: endpoint {
							port-index = <0>;
							bus-width = <2>;
							vc-id = <1>;
							remote-endpoint = <&csi_in1>;
						};
					};
				};
				mode0 {
					pixel_t = "grey_y16";
					num_lanes = "2";
					csi_pixel_bit_depth = "16";
					active_w = "1920";
					active_h = "1080";
					tegra_sinterface = "serial_a";
					mclk_khz = "24000";
					pix_clk_hz = "74250000";
					line_length = "1280";
					embedded_metadata_height = "1";
				};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "a";
					serdes-csi-link = "a";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <1>;
					num-lanes = <2>;
					ser-mux = <0>;
				};
			};
			d4m2: d4m@24 {
				status = "okay";
				reg = <0x24>;
				def-addr = <0x10>;
				compatible = "intel,d4xx";
				cam-type = "Depth";
				maxim,gmsl-ser-device = <&ser0_b>;
				maxim,gmsl-dser-device = <&dser0>;
				intel,d4m-mux-device = <&d4m3>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						d4m2_out: endpoint {
							port-index = <0>;
							bus-width = <2>;
							vc-id = <2>;
							remote-endpoint = <&csi_in2>;
						};
					};
				};
				mode0 {
					pixel_t = "grey_y16";
					num_lanes = "2";
					csi_pixel_bit_depth = "16";
					active_w = "1280";
					active_h = "720";
					tegra_sinterface = "serial_a";
					mclk_khz = "24000";
					pix_clk_hz = "74250000";
					line_length = "1280"; /* 2200 */
					embedded_metadata_height = "1";
				};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "a";
					serdes-csi-link = "b";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <2>;
					num-lanes = <2>;
					ser-mux = <0>;
				};
			};
			d4m3: d4m@25 {
				status = "okay";
				reg = <0x25>;
				def-addr = <0x10>;
				compatible = "intel,d4xx";
				cam-type = "RGB";
				maxim,gmsl-ser-device = <&ser0_b>;
				maxim,gmsl-dser-device = <&dser0>;
				intel,d4m-mux-device = <&d4m3>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						d4m3_out: endpoint {
							port-index = <0>;
							bus-width = <2>;
							vc-id = <3>;
							remote-endpoint = <&csi_in3>;
						};
					};
				};
				mode0 {
					pixel_t = "grey_y16";
					num_lanes = "2";
					csi_pixel_bit_depth = "16";
					active_w = "1920";
					active_h = "1080";
					tegra_sinterface = "serial_a";
					mclk_khz = "24000";
					pix_clk_hz = "74250000";
					line_length = "1280";
					embedded_metadata_height = "1";
				};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "a";
					serdes-csi-link = "b";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <3>;
					num-lanes = <2>;
					ser-mux = <0>;
				};
			};
		};
		i2c@1 {
			status = "okay";
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			/* MAX9296 I2C2_0x48 - CSI2/3 */
			dser1: max9296@48 {
				status = "okay";
				reg = <0x48>;
				compatible = "maxim,max9296";
				csi-mode = "2x4";
				max-src = <2>;
				is-fg96-2ch;
			};

			ser1_prim: max9295_prim@40 {
				status = "okay";
				reg = <0x40>;
				compatible = "maxim,max9295";
				is-prim-ser;
				ser-mux = <1>;
			};

			ser1_a: max9295_a@42 {
				compatible = "maxim,max9295";
				reg = <0x42>;
				maxim,gmsl-dser-device = <&dser1>;
			};
			ser1_b: max9295_b@60 {
				compatible = "maxim,max9295";
				reg = <0x60>;
				maxim,gmsl-dser-device = <&dser1>;
			};

			d4m4: d4m@28 {
				status = "okay";
				reg = <0x28>;
				def-addr = <0x10>;
				compatible = "intel,d4xx";
				cam-type = "Depth";
				maxim,gmsl-ser-device = <&ser1_a>;
				maxim,gmsl-dser-device = <&dser1>;
				intel,d4m-mux-device = <&d4m5>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						d4m4_out: endpoint {
							port-index = <2>;
							bus-width = <2>;
							vc-id = <0>;
							remote-endpoint = <&csi_in4>;
						};
					};
				};
				mode0 {
					pixel_t = "grey_y16";
					num_lanes = "2";
					csi_pixel_bit_depth = "16";
					active_w = "1280";
					active_h = "720";
					tegra_sinterface = "serial_c";
					mclk_khz = "24000";
					pix_clk_hz = "74250000";
					line_length = "1280";
					embedded_metadata_height = "1";
				};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "a";
					serdes-csi-link = "a";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <0>;
					num-lanes = <2>;
					ser-mux = <1>;
				};
			};

			d4m5: d4m@29 {
				status = "okay";
				reg = <0x29>;
				def-addr = <0x10>;
				compatible = "intel,d4xx";
				cam-type = "RGB";
				maxim,gmsl-ser-device = <&ser1_a>;
				maxim,gmsl-dser-device = <&dser1>;
				intel,d4m-mux-device = <&d4m5>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						d4m5_out: endpoint {
							port-index = <2>;
							bus-width = <2>;
							vc-id = <1>;
							remote-endpoint = <&csi_in5>;
						};
					};
				};
				mode0 {
					pixel_t = "grey_y16";
					num_lanes = "2";
					csi_pixel_bit_depth = "16";
					active_w = "1920";
					active_h = "1080";
					tegra_sinterface = "serial_c";
					mclk_khz = "24000";
					pix_clk_hz = "74250000";
					line_length = "1280";
					embedded_metadata_height = "1";
				};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "a";
					serdes-csi-link = "a";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <1>;
					num-lanes = <2>;
					ser-mux = <1>;
				};
			};

			d4m6: d4m@2c {
				status = "okay";
				reg = <0x2c>;
				def-addr = <0x10>;
				compatible = "intel,d4xx";
				cam-type = "Depth";
				maxim,gmsl-ser-device = <&ser1_b>;
				maxim,gmsl-dser-device = <&dser1>;
				intel,d4m-mux-device = <&d4m7>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						d4m6_out: endpoint {
							port-index = <2>;
							bus-width = <2>;
							vc-id = <2>;
							remote-endpoint = <&csi_in6>;
						};
					};
				};
				mode0 {
					pixel_t = "grey_y16";
					num_lanes = "2";
					csi_pixel_bit_depth = "16";
					active_w = "1280";
					active_h = "720";
					tegra_sinterface = "serial_c";
					mclk_khz = "24000";
					pix_clk_hz = "74250000";
					line_length = "1280";
					embedded_metadata_height = "1";
				};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "a";
					serdes-csi-link = "b";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <2>;
					num-lanes = <2>;
					ser-mux = <1>;
				};
			};

			d4m7: d4m@2d {
				status = "okay";
				reg = <0x2d>;
				def-addr = <0x10>;
				compatible = "intel,d4xx";
				cam-type = "RGB";
				maxim,gmsl-ser-device = <&ser1_b>;
				maxim,gmsl-dser-device = <&dser1>;
				intel,d4m-mux-device = <&d4m7>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						d4m7_out: endpoint {
							port-index = <2>;
							bus-width = <2>;
							vc-id = <3>;
							remote-endpoint = <&csi_in7>;
						};
					};
				};
				mode0 {
					pixel_t = "grey_y16";
					num_lanes = "2";
					csi_pixel_bit_depth = "16";
					active_w = "1920";
					active_h = "1080";
					tegra_sinterface = "serial_c";
					mclk_khz = "24000";
					pix_clk_hz = "74250000";
					line_length = "1280";
					embedded_metadata_height = "1";
				};
				gmsl-link {
					src-csi-port = "b";
					dst-csi-port = "a";
					serdes-csi-link = "b";
					csi-mode = "1x4";
					st-vc = <0>;
					vc-id = <3>;
					num-lanes = <2>;
					ser-mux = <1>;
				};
			};
		};
	};

	tegra-capture-vi {
		num-channels = <8>;

		ports {
			#address-cells = <0x1>;
			#size-cells = <0x0>;

			port@0 {
				reg = <0>;
				status = "okay";

				vi_in0: endpoint {
					status = "okay";
					vc-id = <0>;
					port-index = <0>;
					bus-width = <2>;
					remote-endpoint = <&csi_out0>;
				};
			};
			port@1 {
				reg = <1>;
				status = "okay";

				vi_in1: endpoint {
					status = "okay";
					vc-id = <1>;
					port-index = <0>;
					bus-width = <2>;
					remote-endpoint = <&csi_out1>;
				};
			};
			port@2 {
				reg = <2>;
				status = "okay";

				vi_in2: endpoint {
					status = "okay";
					vc-id = <2>;
					port-index = <0>;
					bus-width = <2>;
					remote-endpoint = <&csi_out2>;
				};
			};
			port@3 {
				reg = <3>;
				status = "okay";

				vi_in3: endpoint {
					status = "okay";
					vc-id = <3>;
					port-index = <0>;
					bus-width = <2>;
					remote-endpoint = <&csi_out3>;
				};
			};
			port@4 {
				reg = <4>;
				status = "okay";

				vi_in4: endpoint {
					status = "okay";
					vc-id = <0>;
					port-index = <2>;
					bus-width = <2>;
					remote-endpoint = <&csi_out4>;
				};
			};
			port@5 {
				reg = <5>;
				status = "okay";

				vi_in5: endpoint {
					status = "okay";
					vc-id = <1>;
					port-index = <2>;
					bus-width = <2>;
					remote-endpoint = <&csi_out5>;
				};
			};
			port@6 {
				reg = <6>;
				status = "okay";

				vi_in6: endpoint {
					status = "okay";
					vc-id = <2>;
					port-index = <2>;
					bus-width = <2>;
					remote-endpoint = <&csi_out6>;
				};
			};
			port@7 {
				reg = <7>;
				status = "okay";

				vi_in7: endpoint {
					status = "okay";
					vc-id = <3>;
					port-index = <2>;
					bus-width = <2>;
					remote-endpoint = <&csi_out7>;
				};
			};
		};
	};

	host1x@13e00000 {
		nvcsi@15a00000 {
			#address-cells = <1>;
			#size-cells = <0>;

			num-channels = <8>;

			channel@0 {
				reg = <0>;
				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						status = "okay";

						csi_in0: endpoint@0 {
							status = "okay";
							port-index = <0>;
							bus-width = <2>;
							remote-endpoint = <&d4m0_out>;
						};
					};
					port@1 {
						reg = <1>;
						status = "okay";
						csi_out0: endpoint@1 {
							status = "okay";
							remote-endpoint = <&vi_in0>;
						};
					};
				};
			};
			channel@1 {
				reg = <1>;
				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						status = "okay";

						csi_in1: endpoint@2 {
							status = "okay";
							port-index = <0>;
							bus-width = <2>;
							remote-endpoint = <&d4m1_out>;
						};
					};
					port@1 {
						reg = <1>;
						status = "okay";
						csi_out1: endpoint@3 {
							status = "okay";
							remote-endpoint = <&vi_in1>;
						};
					};
				};
			};
			channel@2 {
				reg = <2>;
				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						status = "okay";

						csi_in2: endpoint@4 {
							status = "okay";
							port-index = <0>;
							bus-width = <2>;
							remote-endpoint = <&d4m2_out>;
						};
					};
					port@1 {
						reg = <1>;
						status = "okay";
						csi_out2: endpoint@5 {
							status = "okay";
							remote-endpoint = <&vi_in2>;
						};
					};
				};
			};
			channel@3 {
				reg = <3>;
				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						status = "okay";

						csi_in3: endpoint@6 {
							status = "okay";
							port-index = <0>;
							bus-width = <2>;
							remote-endpoint = <&d4m3_out>;
						};
					};
					port@1 {
						reg = <1>;
						status = "okay";
						csi_out3: endpoint@7 {
							status = "okay";
							remote-endpoint = <&vi_in3>;
						};
					};
				};
			};
			channel@4 {
				reg = <4>;
				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						status = "okay";

						csi_in4: endpoint@8 {
							status = "okay";
							port-index = <2>;
							bus-width = <2>;
							remote-endpoint = <&d4m4_out>;
						};
					};
					port@1 {
						reg = <1>;
						status = "okay";
						csi_out4: endpoint@9 {
							status = "okay";
							remote-endpoint = <&vi_in4>;
						};
					};
				};
			};
			channel@5 {
				reg = <5>;
				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						status = "okay";

						csi_in5: endpoint@10 {
							status = "okay";
							port-index = <2>;
							bus-width = <2>;
							remote-endpoint = <&d4m5_out>;
						};
					};
					port@1 {
						reg = <1>;
						status = "okay";
						csi_out5: endpoint@11 {
							status = "okay";
							remote-endpoint = <&vi_in5>;
						};
					};
				};
			};
			channel@6 {
				reg = <6>;
				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						status = "okay";

						csi_in6: endpoint@12 {
							status = "okay";
							port-index = <2>;
							bus-width = <2>;
							remote-endpoint = <&d4m6_out>;
						};
					};
					port@1 {
						reg = <1>;
						status = "okay";
						csi_out6: endpoint@13 {
							status = "okay";
							remote-endpoint = <&vi_in6>;
						};
					};
				};
			};
			channel@7 {
				reg = <7>;
				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						status = "okay";

						csi_in7: endpoint@14 {
							status = "okay";
							port-index = <2>;
							bus-width = <2>;
							remote-endpoint = <&d4m7_out>;
						};
					};
					port@1 {
						reg = <1>;
						status = "okay";
						csi_out7: endpoint@15 {
							status = "okay";
							remote-endpoint = <&vi_in7>;
						};
					};
				};
			};
		};
	};
};
